---
import CV from "../../assets/portfolio.pdf";
---

<div class="cta">
  <a href={CV} download class="btn">Download CV</a>
  <a href="#contact" class="btn btn-primary">Контакты</a>
</div>

<style>
  .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
</style>
